/* 📁 路径: src/renderer/src/assets/main.css */
@import './base.css';

/* 💥 彻底清空 Vite 模板残留的垃圾样式，全面由 Tailwind 网关接管 */
body {
  user-select: none;
  overflow: hidden; /* 桌面端标准防溢出 */
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  background-color: var(--my-bg-main);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* 封杀完毕！后续所有样式必须通过 className 书写，不准在此处开后门！ */
